body {
    background-color: #282B28;
    background-image: url("../images/WebBackground3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: lighter;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: lighter;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    text-align: center;
    margin-bottom: 0;
}

p, li {
    color: #FFFFFF;
    font-size: 20px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    line-height: 2.3;
    text-align: center;
    margin: 0 0;
}

ul {
    list-style-position: inside;
    margin-top: 5px;
}

hr {
    border: 1px solid #B5D6B2;
    width: 80%;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.answer-button {
    background-color: #B5D6B2;
    color: #282B28;
    font-size: 38px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    margin: 20px 20px;
    padding: 10px 25px;
    border-radius: 30px;
    width: 25%;
}

.answer-image {
    border-radius: 30px;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.image-button {
    background-color: #B5D6B2;
    color: #282B28;
    font-size: 38px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    padding: 0px 0px;
    border-radius: 30px;
}

.function-buttons {
    background-color: #B5D6B2;
    color: #282B28;
    font-size: 38px;
    font-weight: bold;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px 45px;
    border-radius: 30px;
}

.explanation-text-toggle {
    background-color: #B5D6B2;
    color: #282B28;
    font-size: 38px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    text-align: center;
    margin: 20px 100px;
    padding: 5px 5px;
    border-radius: 30px; 
}

#answerButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

#correct-answer-highlight {
    background-color: hsl(115, 31%, 50%);
}

#incorrect-answer-highlight {
    background-color:#EF6461;
}

#sapphire {
    width: 20%;
    display: block;
    margin: 0 auto;    
    border-radius: 30px;
}

#finalScore {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    text-align: center;
    margin: 15px auto;
}

@media only screen and (max-width: 600px) {
      #sapphire {
    width: 60%;
    }

    .answer-button, .image-button {
        font-size: 24px;
        width: 80%;
        margin: 10px 0;
        padding-bottom: 5px;
    }

    .answer-image {
        width: 100%;
        aspect-ratio: 2 / 1;
    }

    .function-buttons {
        font-size: 24px;
        padding: 10px 20px;
    }

    .explanation-text-toggle {
        font-size: 24px;
        margin: 10px 20px;
    }

    h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    h2 {
        font-size: 24px;
    }

    p, li {
        font-size: 16px;
        line-height: 1.8;
    }
}

@media only screen and (min-width: 600px) {
    #sapphire {
    width: 60%;
    }

    .answer-button, .image-button {
        font-size: 32px;
        width: 80%;
        margin: 10px 15px;
        padding-bottom: 5px;
    }

    .answer-image {
        width: 100%;
        aspect-ratio: 2 / 1;
    }

    .function-buttons {
        font-size: 32px;
        padding: 12px 40px;
    }

    .explanation-text-toggle {
        font-size: 32px;
        margin: 25px 75px;
    }

    h1 {
        font-size:  44px;
        margin-top: 5px;
    }

    h2 {
        font-size: 28px;
    }

    p, li {
        font-size: 20px;
        line-height: 2.2;
    }
}

@media only screen and (min-width: 768px) {
    #sapphire {
    width: 50%;
    }

    .answer-button, .image-button {
        font-size: 34px;
        width: 40%;
        aspect-ratio: 2 / 1;
        margin: 15px 15px;
        padding-bottom: 10px;
    }

    .answer-image {
        width: 100%;
        aspect-ratio: 2 / 1;
    }
}

@media only screen and (min-width: 900px) {
    .answer-button, .image-button {
        font-size: 36px;
        width: 30%;
        aspect-ratio: 2 / 1;
        margin: 28px 28px;
        padding-bottom: 10px;
    }

    .answer-image {
        width: 100%;
        aspect-ratio: 1/ 1;
    }

    .function-buttons {
        font-size: 36px;
        padding: 13px 50px;
    }

    .explanation-text-toggle {
        font-size: 36px;
        margin: 28px 100px;
    }

    h1 {
        font-size: 48px;
        margin-top: 5px;
    }

    h2 {
        font-size: 32px;
    }

    p, li {
        font-size: 22px;
        line-height: 2.3;
    }
}

@media only screen and (min-width: 1200px) {
    #sapphire {
    width: 30%;
    }

    .answer-button, .image-button {
        font-size: 36px;
        width: 20%;
        aspect-ratio: 2 / 1;
        padding-bottom: 10px;
    }

    .answer-image {
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .function-buttons {
        font-size: 42px;
        padding: 15px 60px;
    }

    .explanation-text-toggle {
        font-size: 42px;
        margin: 30px 150px;
    }

    h1 {
        font-size: 56px;
        margin-top: 0;
    }

    h2 {
        font-size: 40px;
    }

    p, li {
        font-size: 24px;
        line-height: 2.5;
    }
}